# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Scrapy stuff:
.scrapy
# PyBuilder
.pybuilder/
target/
# IPython
profile_default/
ipython_config.py
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/Scrap/
**/.vscode/


**/*.parquet
**/*.db
**/*.dbf
**/*.insyncdl
